footer .fa-facebook, footer .top, footer .fa-reddit-alien, footer .fa-twitter, footer .fa-instagram {
  color: rgb(5, 22, 46);
}
footer .fa-facebook:hover, footer .top:hover, footer .fa-reddit-alien:hover, footer .fa-twitter:hover, footer .fa-instagram:hover {
  color: rgba(113, 115, 238, 0.5254901961);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #340a5c;
  background-image: url("../imagenes/fondo2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .container__navbar div {
  padding: 0;
  justify-content: center;
  background-color: rgba(113, 115, 238, 0.5254901961);
  font-size: 30px;
  font-family: "Aclonica", sans-serif;
}
header .container__navbar a {
  color: #05162e;
  padding: 0;
  background-color: rgba(113, 115, 238, 0.5254901961);
}
header .nav__titulo {
  cursor: default;
  transition: all 400ms;
}
header .nav__titulo:hover {
  transform: translateY(-4%);
}

footer {
  text-align: center;
}
footer ul li {
  list-style: none;
  display: inline;
  padding: 8px;
}
footer ul li a {
  font-size: 40px;
  text-decoration: none;
}
footer hr {
  color: rgb(5, 22, 46);
  height: 5px;
  background-color: rgb(5, 22, 46);
}

/*-----index-----*/
.container__index h1 {
  color: #05162e;
  font-size: 100px;
  font-family: "Fondamento", cursive;
  text-align: center;
}
.container__index img {
  border-radius: 30px;
  border-style: ridge;
}
.container__index p {
  color: aliceblue;
  margin: 2% 2% 2% 2%;
  font-size: 150%;
  font-family: "Nova Oval", cursive;
  text-align: justify;
  line-height: 38px;
}

.container__bio {
  color: aliceblue;
  font-size: 22.7272727273px;
  text-shadow: 2px 1px 1px black;
  font-family: "Nova Oval", cursive;
}

.imggri {
  display: flex;
  justify-content: space-between;
}
.imggri img {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.container__galeria img {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.videos {
  width: 100%;
  margin: auto;
}

.caja {
  margin: 10px;
  width: 300px;
  height: 600px;
  background-color: rgba(113, 115, 238, 0.5254901961);
  overflow: scroll;
  cursor: default;
  transition: all 400ms ease;
}
.caja:hover {
  transform: translateY(-3%);
}

.caja__imagen {
  width: 281px;
  height: 281.5px;
  margin: 8px 8px;
  padding: 2px;
}

/*-----tienda-----*/
.titulo__tienda {
  background-color: rgba(113, 115, 238, 0.5254901961);
  padding: 5px;
  font-size: 30px;
  font-family: "Fondamento", cursive;
  text-align: center;
}

/*-----figuras-----*/
.figuras {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-color: #05162e;
  background-color: rgba(84, 86, 184, 0.5254901961);
}
.figuras div {
  color: #05162e;
  background-color: rgba(84, 86, 184, 0.5254901961);
  font-family: "Fondamento", cursive;
  text-align: center;
}
.figuras div .boton {
  background-color: #a369ca;
  font-weight: 700;
  padding: 5px;
  border-color: #05162e;
}
.figuras div .boton:hover {
  color: #703697;
  background-color: #1c0e26;
  border-radius: 50px;
  border-width: 2px;
  border-color: #ba8fd7;
}

.img__carru {
  padding: 10px;
  width: 300px;
  height: 400px;
}

/*-----manga-----*/
.manga {
  padding: 1%;
  color: #05162e;
  background-color: rgba(84, 86, 184, 0.5254901961);
  font-family: "Fondamento", cursive;
  text-align: center;
}
.manga .boton {
  background-color: #a369ca;
  font-weight: 700;
  padding: 5px;
  border-color: #05162e;
}
.manga .boton:hover {
  color: #703697;
  background-color: #1c0e26;
  border-radius: 50px;
  border-width: 2px;
  border-color: #ba8fd7;
}

.pcontacto {
  color: aliceblue;
}

.boton {
  color: #05162e;
  background-color: #a369ca;
  font-weight: 700;
  padding: 5px;
  border-color: #05162e;
}
.boton:hover {
  color: #703697;
  background-color: #1c0e26;
  border-radius: 50px;
  border-width: 2px;
  border-color: #ba8fd7;
}

.titulo {
  background-color: rgba(113, 115, 238, 0.5254901961);
  margin-top: 2%;
  font-size: 50px;
  font-family: "Fondamento", cursive;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
