// base
@import './base/colores';
@import './base/variables';

// components

@import './components/header';
@import './components/footer';
@import './components/index';
@import './components/bio';
@import './components/galeria';
@import './components/personajes';
@import './components/tienda';
@import './components/contacto';
@import './components/barrastitulo';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: $color-fondoindex;
    background-image: url("../imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}