.container__bio {
    color: $color-tipografia;
    font-size: $ttsecundario /2.2;
    text-shadow: 2px 1px 1px black;
    font-family: "Nova Oval", cursive;
}

.imggri{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.imgbio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;  
}

