* {
    margin: nth($tamaños,3);
    padding: nth($tamaños,3);
    box-sizing: border-box;

}



body {
    background-color: $color-fondoindex;
    background-image: url("../imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}