footer {
    text-align: center;

    ul {
        li {
            list-style: none;
            display: inline;
            padding: nth($tamanios, 5);
            margin-left: auto;

            a {
                font-size: nth($tamanios, 6);
                text-decoration: none;
            }
        }
    }

    .fa-facebook, .fa-instagram {
        @extend %iconosfoot;

    }

    .fa-reddit-alien, .fa-twitter {
        @extend .fa-facebook;
    }

    .top {
        @extend .fa-facebook
    }


    .foo {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;

    }

}