footer {
    text-align: center;

    ul {
        li {
            list-style: none;
            display: inline;
            padding: 8px;

            a {
                font-size: 40px;
                text-decoration: none;
            }
        }
    }

    .fa-facebook, .fa-instagram {
        @extend %iconosfoot;

    }

    .fa-reddit-alien, .fa-twitter {
        @extend .fa-facebook;
    }
        
    .top{
        @extend .fa-facebook

    }
    

      

    hr {
        color: $color-footer;
        height: 5px;
        background-color: $color-footer;
    }

}