footer {
    text-align: center;
    
    ul {
        li {
            list-style: none;
            display: inline;
            padding: nth($tamaños,5);

            a {
                font-size: nth($tamaños,6);
                text-decoration: none;
            }
        }
    }

    .fa-facebook, .fa-instagram {
        @extend %iconosfoot;

    }

    .fa-reddit-alien, .fa-twitter {
        @extend .fa-facebook;
    }
        
    .top{
        @extend .fa-facebook

    }
    

      

    hr {
        color: $color-footer;
        height: nth($tamaños,4);
        background-color: $color-footer;
    }

}