
.container__galeria{
   
    img{
        margin: nth($tamanios,3);
        width: 100%;
        height: 100%;
        padding: nth($tamanios,4);
    }

}

.videos {
    width: 100%;
    margin: auto;
}

