
.container__galeria{
   
    img{
        margin: nth($tamaños,3);
        width: 100%;
        height: 100%;
        padding: nth($tamaños,4);
    }

}

.videos {
    width: 100%;
    margin: auto;
}

