header {

    .container__navbar {
        div {
            padding: nth($tamanios, 3);
            justify-content: center;
            text-shadow: 1px 1px 1px $color-tipografia;
            font-size: nth($tamanios, 2);
            font-family: "Aclonica", sans-serif;
        }

        a {
            color: $color-titulos;
            margin-left: nth($tamanios, 4);
            padding: nth($tamanios, 3);

        }
    }

    .nav__titulo a {
        cursor: default;
        transition: all 400ms;


        &:hover {
            transform: translateY(-4%);
            @extend %iconosfoot;
            text-decoration: underline;
            text-shadow: 1px 1px $color-titulos;
        }
    }
}