header {
    .container__navbar {
        div {
            padding: nth($tamaños,3);
            justify-content: center;
            background-color: $color-fbarras;
            font-size: nth($tamaños, 2);
            font-family: "Aclonica", sans-serif;
        }

        a {
            color: $color-titulos;
            padding: nth($tamaños,3)/2;
            background-color: $color-fbarras;
            
        }
    }

    .nav__titulo {
        cursor: default;
        transition: all 400ms;
        

        &:hover {
            transform: translateY(-4%);
        }
    }
}

