header {
    .container__navbar {
        div {
            display: block;
            justify-content: center;
            background-color: $color-fbarras;
            font-size: 30px;
            font-family: "Aclonica", sans-serif;
        }

        a {
            color: $color-titulos;
        }
    }

    .nav__titulo {
        cursor: default;
        transition: all 400ms;

        &:hover {
            transform: translateY(-4%);
        }
    }
}
