/*-----index-----*/

.container__index {
    h1 {
        color: $color-titulos;
        font-size: $ttprincipal;
        font-family: "Fondamento", cursive;
        text-align: center;
    }

    img {
        border-radius: nth($tamanios, 2 );
        border-style: ridge;
    }


    


    p {
        color: $color-tipografia;
        margin: 2% 2% 2% 2%;
        font-size: $ttsecundario /2.2;
        font-family: "Nova Oval", cursive;
        text-shadow: 2px 1px 1px black;
        text-align: justify;
        line-height: nth($tamanios,7);
        
    }

}