.caja {
    margin: nth($tamanios, 4)*2;
    width: nth($tamanios, 2)*10;
    height: nth($tamanios, 2)*20;
    background-color: $color-fbarras;
    overflow: scroll;
    overflow-x: hidden;

    cursor: default;
    transition: all 400ms ease;

    &:hover {
        transform: translateY(-3%)
    }
}

.caja__imagen {
    width: 281px;
    height: 281.5px;
    margin: 8px 8px;
    padding: nth($tamanios, 8);
}