

.caja {
    margin: nth($tamaños,4)*2;
    width: nth($tamaños,2)*10;
    height: nth($tamaños,2)*20;
    background-color: $color-fbarras;
    overflow: scroll;

    cursor: default;
    transition: all 400ms ease;

    &:hover {
        transform: translateY(-3%)
    }
}

.caja__imagen {
    width: 281px;
    height: 281.5px;
    margin: 8px 8px;
    padding: nth($tamaños,8);
}